doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav 
      div.nav_header 
        a(href="/") Home 
      div.nav_links 
        ul 
          li 
            a(href="/sign-up") Sign up 
          li 
            a(href="/sign-in") Sign in 
    block content
