body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.nav_links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav_links li {
  list-style: none;
}